<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>微博</title>
    <!--    &lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>-->
    <!--    &lt;!&ndash; bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>-->
    <!--    &lt;!&ndash; 最新的 Bootstrap4 核心 JavaScript 文件 &ndash;&gt;-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<nav class="navbar  navbar-fixed-top" role="navigation" style="background: #e0620d ;padding-top: 3px;height:50px;">
    <div class="container-fluid" style="background: #fff;">
        <div class="navbar-header ">
                <span class="navbar-brand " style="font-weight:normal;font-style: italic" href="#">
                    <img src="/images/logo.png" height="20" width="20" />微博</span>

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#my-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="#热门话题#">
                <i class="glyphicon glyphicon-search btn_search"></i>
                <!--  <button type="submit" class="btn btn-default">提交</button> -->
            </div>

        </form>

        <div class="collapse navbar-collapse" id="my-navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <!--                    <li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Jennifer</a></li>-->
                <li><a th:href="@{/user/personal/self}" ><i class="glyphicon glyphicon-user" th:text="${uname}" id="uname">&nbsp;&nbsp;Jennifer</i></a></li>
                <!--                    <li class="dropdown">-->
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        设置 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--                            <li><a href="#">退出登录</a></li>-->
                        <form th:action="@{/user/logout}" method="post">
                            <input type="hidden" name="${_csrf.parameterName }" value="${_csrf.token }">
                            <input type="submit" value="退出登录">
                        </form>
                    </ul>
                </li>
            </ul>

        </div>


    </div>
    <hr style="margin: 0;padding: 0;color:#222;width: 100%">
</nav>

<div class="container container_bg">
    <div class="row">
        <div class="col-sm-2"></div>

        <div class="col-sm-6 col-xs-12 my_edit">
            <div class="row" id="edit_form">
                <span class="pull-left" style="margin:15px;">编写新鲜事</span>
                <span class="tips pull-right" style="margin:15px;"></span>
                <form role="form" style="margin-top: 50px;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div contenteditable="true" id="content" class="form-control "></div>
                        </div>
                        <div class="col-sm-12" style="margin-top: 12px;">
                            <span class="emoji">表情</span>

                            <span class="pic">图片	</span>
                            <span>
                                    <input type="file" name="" class="select_Img" accept=".png, .jpg, .jpeg" style="display: none">
<!--                                    <img id="preview_pic" class="preview" src=""  style='width:100px;height:70px'>-->
                                    <img id="preview_pic" class="preview" src="">
<!--                                    <img id="delpic" src="/images/xf.png"  width="13" height="13" alt="del.png">-->
                                    <a id="delpic" href="#">X</a>
                                </span>
                            <div class="myEmoji">
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#set" data-toggle="tab">
                                            预设
                                        </a>
                                    </li>
                                    <li><a href="#hot" data-toggle="tab">热门</a></li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="set">
                                        <div class="emoji_1"></div>
                                    </div>
                                    <div class="tab-pane fade" id="hot">
                                        <div class="emoji_2"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <span> <input type="file" id="selectImg" value=""></input> </span> -->
                            <button type="button" id="send" class="btn btn-default pull-right disabled">发布</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row" id="sort">
                    <a th:href="@{/user/home(sort_method=time)}">按时间排序</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/user/home(sort_method=thumbUp)}">按点赞数排序</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/user/home(sort_method=cmtNum)}">按评论数排序</a>
            </div>

            <!--新发布微博显示在最前面-->
            <div class="row item_msg" id="new_msg" style="display:none">
                <div class="col-sm-12 col-xs-12 message">
                    <img src="/images/icon.png" class="col-sm-2 col-xs-2" style="border-radius: 50%">
                    <div class="col-sm-10 col-xs-10">
                        <span style="font-weight: bold;"}></span>
                        <br>
                        <small class="date" style="color:#999">刚刚</small>
                        <div class="msg_content">
                        </div>
<!--                        <img>-->
                        <br><br>
                        <img class="mypic">
                        <br><br>
                        <span class="commentsAndThumbUps">
                            <img class="zan"  src="/images/zan.png"  width="13" height="13" alt="zan.png">
                            <span class="zanNum" >0</span>
                            <span >
                                <button type="button" class="btn btn-primary" data-toggle="collapse" width="15" height="15">评论</button>
                                 <img class="xinfeng"  src="/images/xf.png"  width="13" height="13" alt="xinfeng.png">
                                 <span class="cmtNum" >0</span>
                                <div class="collapse">
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <!--th显示微博-->
            <div class="row item_msg" th:each="message:${messages}">
                <div class="col-sm-12 col-xs-12 message">

<!--                    <span  th:text=${message.id}>id</span>-->
                    <img src="/images/icon.png" class="col-sm-2 col-xs-2" style="border-radius: 50%">
                    <div class="col-sm-10 col-xs-10">
                        <span style="font-weight: bold;" th:text="${message.name}"}>Jennifer</span>
                        <span><a th:href="'/user?name='+${uname}">链接在此</a></span>
                        <br>
                        <small class="date" style="color:#999" th:text="${message.time}">刚刚</small>
                        <div class="msg_content" th:text="${message.content}">
                            今天天气不错!
                        </div>

                        <br><br>
                        <span class="commentsAndThumbUps" th:id="${message.id}">
                        <!--                        <span><button>点赞</button> </span>-->
                        <span class="container" th:id="${message.id}">

                            <img th:id="'img'+${message.id}" class="zan"  src="/images/zan.png"  width="13" height="13" alt="zan.png">
                            <span th:id="'zanNum'+${message.id} " class="zanNum" th:text="${message.thumbUp}" >666</span>

                            <span>
                                <img th:id="'img2'+${message.id}" class="xinfeng"  src="/images/xf.png" data-toggle="collapse" th:data-target="'#cmt'+${message.id}"  width="13" height="13" alt="xinfeng.png" onclick="sendId(event)">
                                <span th:id="'cmtNum'+${message.id} " class="cmtNum" th:text="${message.cmtNum}" >666</span>
                                <div th:id="'cmt'+${message.id}" class="collapse">
                                     <form role="form" style="margin-top: 12px;"  method="post" th:action="@{/user/comment}">
                                        <div class="form-group">
                                            <input  type="text" name="content" style="width: 88%"/>
                                            <input type="hidden"  name="msgId" th:value="${message.id}" />
                                            <input type="submit" name="comment" value="评论" style="color: #66afe9" />
                                        </div>
                                    </form>
                                    <div th:id="'text'+${message.id}">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>

                                </div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
<!--示例微博-->
            <div class="row item_msg" style="display:none">
                <div class="col-sm-12 col-xs-12 message">
                    <img src="/images/icon.png" class="col-sm-2 col-xs-2" style="border-radius: 50%">
                    <div class="col-sm-10 col-xs-10">
                        <span style="font-weight: bold;">Jennifer</span>
                        <br>
                        <small class="date" style="color:#999">1分钟前</small>
                        <div class="msg_content">
                            今天天气不错!
                            <img class="mypic" src="/images/bg2.jpg" alt="无图片">
                        </div>
                        <span><button>点赞</button></span>
                        <span><button>评论</button></span>
                    </div>
                </div>
            </div>
        </div>


<!--   右侧的热门话题-->
        <div class="col-sm-3 col-xs-12 part_right">
            <div class="row text-center inform">
                <img src="/images/icon.png">
                <h4 style="font-weight: bold;" th:text="${uname}">Jennifer</h4>
                <div class="col-sm-12 my_inform">
                    <div class="col-sm-4 col-xs-4">
                        <div>111</div>
                        <div class="sort">关注</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <div>111</div>
                        <div class="sort">粉丝</div>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <div>111</div>
                        <div class="sort">博客</div>
                    </div>
                </div>
            </div>
            <div class="row part_hot">
                <div class="col-sm-12">
                    <span class="pull-left" style="padding: 10px;font-size:16px;font-weight: bold;">热门话题</span>
                    <span class="pull-right" style="padding: 10px;">换话题</span>
                </div>
                <hr style="margin: 0;padding: 0;width: 100%">

                <div class="col-sm-12 item_hot">
                    <span class="pull-left">#英语四六级#</span>
                    <span class="pull-right item_num">1亿</span>
                </div>

                <div class="col-sm-12 item_hot">
                    <span class="pull-left">#冬至吃饺子#</span>
                    <span class="pull-right item_num">5000万</span>
                </div>

                <div class="col-sm-12 item_hot">
                    <span class="pull-left">#北京邮电大学#</span>
                    <span class="pull-right item_num">3600万</span>
                </div>

                <div class="col-sm-12 item_hot">
                    <span class="pull-left">#spring boot#</span>
                    <span class="pull-right item_num">3000万</span>
                </div>

                <div class="col-sm-12 item_hot">
                    <span class="pull-left">#java#</span>
                    <span class="pull-right item_num">2500万</span>
                </div>
                <hr style="margin: 0;padding: 0;width: 100%">

                <div class="col-sm-12 text-center" style="padding: 10px"><a href="#">查看更多</a></div>

            </div>

        </div>
    </div>

    <div align="center">
        <a th:href="@{/user/home(start=0)}">[首页]</a>
        <a th:if="${not messages.isFirst()}" th:href="@{/user/home(start=${messages.number-1})}">[上页]</a>
        <a th:if="${not messages.isLast()}" th:href="@{/user/home(start=${messages.number+1})}">[下页]</a>
        <a th:href="@{/user/home(start=${messages.totalPages-1})}">[末页]</a>
    </div>

</div>

<script src="/js/jquery-3.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // $(function () {
            $("#content").keyup(function () {
                //判断输入的字符串长度
                var content_len = $("#content").text().replace(/\s/g, "").length;

                $(".tips").text("已经输入" + content_len + "个字");

                if (content_len == 0) {
                    // alert(content);
                    $(".tips").text("");
                    $("#send").addClass("disabled");
                    return false;
                } else {
                    $("#send").removeClass("disabled");
                }
            });

            $(".pic").click(function () {
                $(".select_Img").click();
            })

            //getObjectURL方法用于获取本地图片的地址，使用该url可以显示图片
            function getObjectURL(file) {
                var url = null ;
                if (window.createObjectURL!=undefined) { // basic
                    url = window.createObjectURL(file) ;
                } else if (window.URL!=undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file) ;
                } else if (window.webkitURL!=undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file) ;
                }
                return url ;
            }

            var objUrl="#";   //存放上传图片路径
            $('.select_Img').on('change',function(){//图片上传
                //这里创建3个数组，imgName、imgSrc、imgFile分别用于存放上传图片的名称、url地址以及图片流信息
                var fileList = this.files;

                objUrl = getObjectURL(fileList[0]) ;
                if (objUrl) {
                    $('#preview_pic').show();
                    $('#preview_pic').attr('src',objUrl);
                    $('#preview_pic').attr('style','width:100px;height:70px');
                }
            })

            $("#delpic").click(function (event)
                //当增加页面 电话输入框变化时 发送ajax请求看是否电话已存在
            {
                objUrl="#";
                $('#preview_pic').hide();

            })

            $("#delpic").click(function (event)
                //当增加页面 电话输入框变化时 发送ajax请求看是否电话已存在
            {
                objUrl="#";
                $('#preview_pic').hide();
            })
            //点击按钮发送内容
            $("#send").click(function () {
                var time = new Date();

                var content = $("#content").text();
                var uname = $("#uname").text();

                if (objUrl != "#")
                if (objUrl!="#")
                {
                    $("#new_msg").html("<div class='col-sm-12 col-xs-12 message' > <img src='/images/icon.png' class='col-sm-2 col-xs-2' style='border-radius: 50%'><div class='col-sm-10 col-xs-10'><span style='font-weight: bold;'>" + uname + "</span> <br><small class='date' style='color:#999'>刚刚</small><div class='msg_content'>" + content + "</div><img class='mypic' src="+objUrl+" ></div></div>");
                    $("#new_msg").show();
                }
                else {
                    $("#new_msg").html("<div class='col-sm-12 col-xs-12 message' > <img src='/images/icon.png' class='col-sm-2 col-xs-2' style='border-radius: 50%'><div class='col-sm-10 col-xs-10'><span style='font-weight: bold;'>" + uname + "</span> <br><small class='date' style='color:#999'>刚刚</small><div class='msg_content'>" + content + "</div></div></div>");
                    $("#new_msg").show();
                }
                $.ajax({
                    type:"POST",//提交数据的类型 POST/GET
                    url:"/user/home",//提交的网址
                    data:{
                        "content":content,
                        "time":time,
                        "thumbUp":0,
                        "cmtNum":0,
                        "picUrl":objUrl},//提交的数据
                    dataType: "json",//"xml", "html", "script", "json", "jsonp", "text".//返回数据的格式
                    success : function(data) {
                        $("#content").empty(); // 清空resText里面的所有内容
                    },
                    // error: function(){//请求出错处理
                    //     alert("发送出错");
                    // }
                });
            });

            //添加表情包1
            for (var i = 1; i < 60; i++) {
                var a='/images/f'+i;
                $(".emoji_1").append("<img src=" + a + ".png style='width:35px;height:35px' >");
            }
            //添加表情包2
            for (var i = 1; i < 61; i++) {
                var a='/images/h'+i;
                $(".emoji_2").append("<img src=" + a + ".png style='width:35px;height:35px' >");
            }


            $(".emoji").click(function () {
                $(".myEmoji").show();
                //点击空白处隐藏弹出层
                $(document).click(function (e) {
                    if (!$("#edit_form").is(e.target) && $("#edit_form").has(e.target).length === 0) {
                        $(".myEmoji").hide();
                    }
                });
            });

            //将表情添加到输入框
            $(".myEmoji img").each(function () {
                $(this).click(function () {
                    var url = $(this)[0].src;
                    $('#content').append("<img src='" + url + "' style='width:25px;height:25px' >");
                    $("#send").removeClass("disabled");
                })
            })

            //放大或缩小预览图片
            $(".mypic").click(function () {
                var oWidth = $(this).width(); //取得图片的实际宽度
                var oHeight = $(this).height(); //取得图片的实际高度
                if ($(this).height() != 200) {
                    $(this).height(200);
                } else {
                    $(this).height(oHeight + 200 / oWidth * oHeight);
                }
            })
        // })
    })
</script>

<!--点赞-->
<script type="text/javascript">
    $(document).ready(function() {
        $(".zan").click(function (event)//当增加页面 电话输入框变化时 发送ajax请求看是否电话已存在
        {
            var imgid =event.target.id
            console.log("imgid=",imgid)
            // var v_id2 = $(this).attr("id");
            // console.log("v_id2",v_id2);
            msgid=imgid.slice(3);
            console.log("msgid=",msgid);

            $.ajax({
                url: "/user/zan",
                type: "GET",
                data: {"msgid":msgid},
                success: function (result) {
                    $("#zanNum"+msgid).html(result)
                },
                error: function (xhr, textStatus, errorThrown) {/*错误信息处理*/
                    alert("状态码：" + xhr.status);
                    alert("状态:" + xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
                    alert("错误信息:" + xhr.statusText);
                    alert("返回响应信息：" + xhr.responseText);//这里是详细的信息
                    alert("请求状态：" + textStatus);
                    alert(errorThrown);
                }
            })
        })
    })


</script>
<script type="text/javascript">
    $(document).ready(function() {

        $(".show_pic").click(function (event)
        {
            var imgid =event.target.id;
            console.log("imgid=",imgid);
            // var v_id2 = $(this).attr("id");
            // console.log("v_id2",v_id2);
            msgid=imgid.slice(8);
            console.log("msgid=",msgid);
            $("#pic"+msgid).show();
            // alert(this.message.picture);
            p=$("#picture"+msgid).text();
            console.log("p=",p);
            document.getElementById("pic"+msgid).src = "data:image/jpg;base64,"+encodeURI(p);
            // $.ajax({
            //     url: "/user/zan",
            //     type: "GET",
            //     data: {"msgid":msgid},
            //     //dataType: "json",
            //
            //     success: function (result) {
            //         $("pic"+msgid).show();
            //         $("pic"+msgid).html(result)
            //     },
            //     error: function (xhr, textStatus, errorThrown) {
            //         /*错误信息处理*/
            //         alert("进入error---");
            //         alert("状态码：" + xhr.status);
            //         alert("状态:" + xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
            //         alert("错误信息:" + xhr.statusText);
            //         alert("返回响应信息：" + xhr.responseText);//这里是详细的信息
            //         alert("请求状态：" + textStatus);
            //         alert(errorThrown);
            //     }
            // })
        })
    })


</script>


<!--显示评论-->
<script language="javascript">
    function sendId(event){
        var img2Id =event.target.id
        // var img2Id = $(this).attr("id");
        console.log("img2Id",img2Id)
        msgId=img2Id.slice(4);
        console.log(msgId);
        $.ajax({
            url: "/user/comment",
            type: "GET",
            data: {"msgId":msgId},
            success: function (result) {
                $("#text" + msgId).html(result);
//                alert("刷新评论返回成功！")
//                console.log("返回成功!");
            },
            error: function (xhr, textStatus, errorThrown) {
                /*错误信息处理*/
                alert("状态码：" + xhr.status);
                alert("状态:" + xhr.readyState);//当前状态,0-未初始化，1-正在载入，2-已经载入，3-数据进行交互，4-完成。
                alert("错误信息:" + xhr.statusText);
                alert("返回响应信息：" + xhr.responseText);//这里是详细的信息
                alert("请求状态：" + textStatus);
                alert(errorThrown);
            }
        })
    }
</script>

<!--    document.getElementById("pic+msgid").src = "data:image/jpg;base64,"+encodeURI(this.message.picture);-->

<!--</script>-->
<!--评论-->

</body>
</html>