body {
    margin: 0;
    padding: 0;
    /*background-color: #17a2b8;*/
    background-image: url("../images/1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 360px;
    border: 1px solid #eee9e9;
    background-color:rgba(256,256,256,0.6);
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
#link div {
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
}